<h4>Withdraw</h4> <div class="reload"><i class="fa fa-refresh fa-lg"
                                        [ngClass]="{'fa-spin': !auth.userInfo.fulfilled}"
                                        (click)="onReload()"
                                        aria-hidden="true"></i></div>
<ngb-alert *ngFor="let alert of alerts; let i = index" [attr.data-index]="i"
           (close)="closeAlert(i)" type="{{alert.type}}">{{alert.message}}</ngb-alert>

<p class="points">Points available: {{auth.userInfo.points}}</p>
<form #f="ngForm" (ngSubmit)="withdraw(f)">
  <div class="form-group col-xs-6 col-md-4" style="padding-left: 0">
    <ng-template #tip>1000 points = 1 USD</ng-template>
    <label for="amount">Points to Withdraw: <a placement="top" container="body" [ngbTooltip]="tip" href="#" onclick="return false;">?</a></label>
    <input class="form-control" type="number" name="amount" id="amount"
           required min="1000" max="{{user.points}}" [ngModel]="1000">
  </div>
  <div class="form-group">
    <label for="address">Bitcoin Address:</label>
    <input class="form-control" type="text" name="address" id="address"
           required ngModel>
  </div>
  <p>Fee: 200 points</p>
  <button class="btn btn-info" type="submit" [disabled]="waiting">Withdraw</button>
</form>
