<div class="modal-header">
  <h5 class="modal-title">Reset Password</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-alert *ngFor="let alert of alerts; let i = index" type="{{alert.type}}" (close)="closeAlert(i)">{{alert.message}}</ngb-alert>
  <form #signinForm="ngForm" (ngSubmit)="submit(signinForm)">
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control" type="email"
             id="email" name="email" required #name="ngModel" ngModel
             [ngClass]="{invalidinput: name.invalid && name.touched}">
      <small class="form-text invalid-text" *ngIf="name.invalid && name.touched">
        Field required.
      </small>
    </div>
    <button class="btn btn-info" type="submit" [disabled]="!signinForm.form.valid">Reset Password</button>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button>
</div>
