<div class="modal-header">
    <h5 class="modal-title">Sign In</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <ngb-alert type="danger" *ngFor="let alert of alerts; let i = index" (close)="closeAlert(i)">{{alert}}</ngb-alert>
    <form #signinForm="ngForm" (ngSubmit)="signIn(signinForm)">
        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" type="email"
                   id="email" name="email" required #name="ngModel" ngModel
                   [ngClass]="{invalidinput: name.invalid && name.touched}">
            <small class="form-text invalid-text" *ngIf="name.invalid && name.touched">
                Field required.
            </small>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password"
                   name="password" required #password="ngModel" ngModel
                   [ngClass]="{invalidinput: password.invalid && password.touched}">
            <small class="form-text invalid-text" *ngIf="password.invalid && password.touched">
                Field required.
            </small>
        </div>
        <re-captcha
                [(ngModel)]="formModel.captcha"
                name="captcha"
                required
                #captchaControl="ngModel"
                (resolved)="captcha($event)"
        ></re-captcha>
        <p>
            <a (click)="forgotPassword()" href="javascript:void(0)">Forgot password?</a>
        </p>
        <button class="btn btn-info" [disabled]="!signinForm.form.valid || waiting">Sign In</button>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-info" (click)="signUp()">Sign Up</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button>
</div>
