<div class="modal-header">
  <h5 class="modal-title">Sign Up</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ngb-alert type="danger" *ngFor="let alert of alerts; let i = index" (close)="closeAlert(i)">{{alert}}</ngb-alert>
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input class="form-control"
             [ngClass]="{invalidinput: name.errors && name.touched}"
             type="text" id="username" name="username" formControlName="name">
      <small class="form-text invalid-text" *ngIf="name.hasError('required') && name.touched">
        Field required.
      </small>
      <small class="form-text invalid-text" *ngIf="name.hasError('minlength') && name.touched">
        Username must be 4 characters or longer.
      </small>
      <small class="form-text invalid-text" *ngIf="name.hasError('maxlength') && name.touched">
        Username must not be longer than 15 characters.
      </small>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input class="form-control"
             [ngClass]="{invalidinput: email.errors && email.touched}"
             type="email" id="email" name="email" formControlName="email">
      <small class="form-text invalid-text" *ngIf="email.hasError('required') && email.touched">
        Field required.
      </small>
      <small class="form-text invalid-text" *ngIf="email.hasError('email') && !email.hasError('required') && email.touched">
        Invalid email.
      </small>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control"
             [ngClass]="{invalidinput: password.errors && password.touched}"
             type="password" id="password" name="password" formControlName="password">
      <small class="form-text invalid-text" *ngIf="password.hasError('required') && password.touched">
        Field required.
      </small>
      <small class="form-text invalid-text" *ngIf="password.hasError('minlength') && password.touched">
        Password must be at least 6 characters.
      </small>
    </div>
    <re-captcha
            [(ngModel)]="formModel.captcha"
            [ngModelOptions]="{standalone: true}"
            name="captcha"
            required
            #captchaControl="ngModel"
            (resolved)="onCaptcha($event)"
    ></re-captcha>
    <p></p>
    <button class="btn btn-info" [disabled]="signUpForm.invalid || !captchaControl.valid || waiting" type="submit">Sign Up</button>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button>
</div>
