<ng-template #tmp>
  <div class="nav-item">
    <a class="nav-link" [routerLink]="['/']">Home</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" [routerLink]="['help', 'faq']">Help</a>
  </div>
  <div class="nav-item">
    <a class="nav-link" [routerLink]="['account', 'referrals']">Referrals</a>
  </div>
  <hr *ngIf="sidenav && auth.isSignedIn()">
  <div class="nav-item" *ngIf="sidenav && auth.isSignedIn()">
    <a class="nav-link" [routerLink]="['user']">Profile</a>
  </div>
  <div class="nav-item" *ngIf="sidenav && auth.isSignedIn()">
    <a class="nav-link" [routerLink]="['account']">Account</a>
  </div>
  <div class="nav-item" *ngIf="sidenav && auth.isSignedIn()">
    <a class="nav-link" (click)="auth.logout()">Logout</a>
  </div>
</ng-template>
