<nav class="navbar navbar-expand-md navbar-dark">
  <button class="navbar-toggler" type="button" (click)="openSidenav()" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#" class="navbar-brand col-md-2 d-none d-md-block" [routerLink]="['/']">
    <img class="logo" src="/assets/logo.svg" height="30" alt="logo">
  </a>
  <a href="#" class="navbar-brand d-block d-md-none" [routerLink]="['/']">
    <img class="logo" src="/assets/logo.svg" height="30" alt="logo">
  </a>

  <div class="collapse navbar-collapse" id="navbar" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav mr-auto">
      <app-links #source></app-links>
      <ng-template [ngTemplateOutlet]="source.tmp"></ng-template>
    </div>
    <span class="navbar-text text" *ngIf="auth.signedIn">Points: {{ points }}</span>
  </div>

  <div ngbDropdown class="d-none d-md-block" *ngIf="auth.signedIn">
    <button type="button" class="btn btn-primary" id="userDropdown" ngbDropdownToggle>
      <img class="image" [src]="auth.userInfo.gravatar"> {{auth.userInfo.username}}
    </button>
    <div ngbDropdownMenu aria-labelledby="userDropdown">
      <a class="dropdown-item" [routerLink]="['user']">
        <i class="fa fa-user" aria-hidden="true"></i> Profile
      </a>
      <a class="dropdown-item" [routerLink]="['account']">
        <i class="fa fa-wrench" aria-hidden="true"></i> Account
      </a>
      <div class="dropdown-divider"></div>
      <div *ngIf="auth.userInfo.role == 'admin'">
        <a class="dropdown-item" [routerLink]="['admin']">
          <i class="fa fa-wrench" aria-hidden="true"></i> Admin Panel
        </a>
        <div class="dropdown-divider"></div>
      </div>
      <button style="cursor: pointer" class="dropdown-item" (click)="logout()">
        <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
      </button>
    </div>
  </div>

</nav>
