.image {
  width: 20px;
  border-radius: 50%;
}

.btn {
  border-radius: 0 !important;
  outline: none !important;

  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75) !important;
}

.btn:active {
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75) !important;
}

.logo {
  height: 2.2em;
  padding-left: 15px;
}

@media screen and (min-width: 768px){
  .navbar {
    height: 3.5em;
  }

  .logo {
    height: 2.2rem;
    padding-left: 15px;
  }
}

.col-md-2 {
  padding: 0;
  margin: 0;
  margin-left: -15px;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.text {
  padding-right: 10px;
}
