.chat {
  background-color: grey;
  width: 100%;
  height: calc(100vh - 3.5rem);
}

.messages {
  background-color: #2D3A3A;
  height: calc(100% - 43px);
  padding-top: 5px;
  padding-left: 5px;
  overflow-y: scroll;
}

.messages::-webkit-scrollbar {
  display: none;
}

.message-element {
}

.content {
  margin-left: 48px;
  margin-top: -44px;
  margin-bottom: 10px;
}

.message {
  word-wrap: break-word;
  color: white;
  margin-top: -10px;
}

.messagebox {
  background-color: #262626;
  height: 43px;
  -webkit-box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 6px 1px rgba(0,0,0,0.75);
}

.message-input {
  width: calc(100% - 8px);
  height: 43px;
  margin-left: 4px;
  outline: none;
  border: none;
  color: #d8d8d8;
  background-color: inherit;

}

.avatar {
  border-radius: 50%;
  display: inline-block;
  width: 44px;
}

.username {
  display: inline-block;
  overflow: hidden;
  color: white;
}

.username-link {
  text-decoration: none;
  color: white;
}

hr {
  height: 1px;
}
