<div class="chat d-none d-md-block">
    <div class="messages" #box>
        <app-spinner *ngIf="isLoading"></app-spinner>
        <div class="message-element" *ngFor="let message of messages">
            <img [src]="message.avatar" alt="avatar" class="avatar" width="44" height="44">
            <div class="content">
                <div class="username">
                    <a class="username-link" [routerLink]="['user', message.id]"><b>{{message.name}}</b></a>
                </div>
                <div class="message">
                    {{message.message}}
                </div>
            </div>
        </div>
    </div>
    <div class="messagebox">
        <form #f="ngForm" (ngSubmit)="sendMessage(f)">
            <input required class="message-input" type="text"
                   placeholder="{{auth.signedIn ? 'Message' : 'Sign in to use chat'}}"
                   id="message" name="message" autocomplete="off" [disabled]="isLoading || !auth.isSignedIn()"
                   maxlength="50" ngModel>
            <input type="submit" *ngIf="auth.isSignedIn()" hidden>
        </form>
    </div>
</div>
