.welcome {
  overflow-y: auto;
  height: calc(100vh - 3.5rem);
  padding-top: 1rem;

  width: 100%;

  /*background-color: #040F0F;
  color: #FCFFFC;*/
}

.route {
  padding-bottom: 15px;
}

.sidenav {
  height: 100%;
  width: 0;
  z-index: 1090;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #262626;
}

.backshadow {
  height: 100%;
  width: 100%;
  z-index: 1080;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-nav {
  margin-left: 5px;
  margin-top: 5px;
}
