<app-navbar (sidenav)="toggleSidenav()"></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" style="padding: 0;">
      <app-chat></app-chat>
    </div>
    <div class="col welcome">
      <div class="route">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<div class="sidenav" [@sidenavState]="state">
  <div class="navbar-nav">
    <app-links [sidenav]="true" #source></app-links>
    <ng-template [ngTemplateOutlet]="source.tmp"></ng-template>
  </div>
</div>

<div class="backshadow" *ngIf="state == 'open'" [@backshadowState]="state" (click)="closeSidenav()"></div>
