<h1>
  Welcome to Earn.coffee
</h1>
<p>
  Here you can earn a quick buck by completing free offers. Often requires you to download a free app
  or complete a quick survey. Simply sign up using the button in the top right corner. See you soon!
</p>

<div class="row">

</div>
<div id="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col">
      <button id="g-signin" class="btn btn-light g-logo" [disabled]="disabled" #gbutton>
        <span class="logo-img"></span>
        <span class="logo-text">Sign in with Google</span>
      </button>
    </div>
    <div class="col-md-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3 col-6">
      <button class="btn btn-primary" (click)="openSignup()">Register</button>
    </div>
    <div class="col-md-3 col-6">
      <button class="btn btn-primary" (click)="openSignin()">Log In</button>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

<ng-template #errorModal>


</ng-template>
