button {
    width: 100%;
    height: 3rem;

    border-radius: 0;

    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75) !important;
}

#buttons {
    width: 30.5vw;
    margin-left: auto;
    margin-right: auto;
}

.g-logo {
    background-color: #ffffff;
}

.logo-img {
    background: url("/assets/g-logo.png") transparent  no-repeat;
    background-size: cover;
    float: left;
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.logo-text {
    vertical-align: middle;
    font-family: Roboto, sans-serif;
    line-height: 2.2em;
}
