<h1>Admin Dashboard</h1>

<div class="row">
  <div class="col-md-3">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Total Users</h4>
          <p class="card-text">{{stats.users}}</p>
        </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total Transactions</h4>
        <p class="card-text">{{stats.transactions}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md 8">
    <p>Bitcoin Account Balance: {{blockchainAccount.balance/100000000}} BTC <br>
      Bitcoin Receive Address: <code>{{blockchainAccount.receiveAddress}}</code></p>
  </div>
</div>
