<h3>{{userInfo.username}}</h3>
<div class="row">
  <div class="col-md-8">
    <p>
      User created on {{userInfo.created}}<br>
      ID: {{userInfo._id}}<br>
      Points: {{userInfo.points}}<br>
      Total Points: {{userInfo.totalPoints}}<br>
    </p>
  </div>
  <div class="col-md">
    <button class="btn btn-danger" (click)="mute()">{{userInfo.muted ? 'Unmute' : 'Mute'}}</button>
    <button class="btn btn-danger" (click)="disable()">{{userInfo.disabled ? 'Reenable' : 'Disable'}}</button>
  </div>
</div>

<form (ngSubmit)="submit(f)" #f="ngForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" [ngModel]="userInfo.username">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" name="email" [ngModel]="userInfo.email">
  </div>
  <div class="form-group">
    <label for="role">Role</label>
    <select name="role" id="role" class="custom-select" ngModel>
      <option value="admin" [selected]="userInfo.role == 'admin'">admin</option>
      <option value="moderator" [selected]="userInfo.role == 'moderator'">moderator</option>
      <option value="user" [selected]="userInfo.role == 'user'">user</option>
    </select>
  </div>
  <div class="form-group">
    <label for="verified">Verified</label>
    <select name="verified" id="verified" class="custom-select" ngModel>
      <option [value]="true" [selected]="userInfo.verified == true">yes</option>
      <option [value]="false" [selected]="userInfo.verified == false">no</option>
    </select>
  </div>
  <button type="submit" class="btn btn-info">Save</button>
</form>
<hr>
<h3>New Transaction</h3>
<form (ngSubmit)="transaction(g)" #g="ngForm">
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" id="amount" name="amount" [ngModel]="100">
  </div>
  <div class="form-group">
    <label for="from">From</label>
    <input type="text" class="form-control" id="from" name="from" [ngModel]="'admin'">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
