<h4>Latest Transactions</h4> <div class="reload"><i class="fa fa-refresh fa-lg"
                                                    [ngClass]="{'fa-spin': isLoading}"
                                                    (click)="reload()"
                                                    aria-hidden="true"></i></div>
<ul class="list-group"
    *ngIf="!isLoading">
  <li class="list-group-item"
      [ngClass]="{'list-group-item-action': item.type != 'data', 'active': show == i + 1}"
      [ngStyle]="{'cursor': item.type != 'data' ? 'pointer' : 'auto'}"
      *ngFor="let item of transactions; let i = index;"
      (click)="open(i)">
    <div *ngIf="item.type != 'data'">
      <div class="row-element">
        {{item.from}}
      </div>
      <div class="row-element">
        {{item.amount}}
      </div>
      <div class="row-element">
        {{item.date | date}}
      </div>
    </div>
    <div *ngIf="item.type == 'data'">
      <div *ngIf="item.from != 'Withdrawal'">
        <div class="element-title">From:</div><div class="element-data">{{item.from}}</div>
      </div>
      <div class="element-title">Amount:</div><div class="element-data">{{item.amount}}</div>
      <div *ngIf="item.from != 'Withdrawal'">
        <div class="element-title">Campaign:</div><div class="element-data">{{item.campaign}}</div>
      </div>
      <div *ngIf="item.from == 'Withdrawal'">
        <div class="element-title">To:</div><div class="element-data">{{item.to}}</div>
        <div class="element-title">Tx:</div><div class="element-data"><a href="https://blockchain.info/tx/{{item.tx}}">{{item.tx}}</a></div>
      </div>
      <div class="element-title">Date:</div><div class="element-data">{{item.date | date:'medium'}}</div>
      <div class="element-title">Reference:</div><div class="element-data">{{item._id}}</div>
    </div>
  </li>
</ul>

<div *ngIf="isLoading">
  <p>Loading Transactions...</p>
</div>

<div *ngIf="transactions.length == 0">
  <p>No Transactions Yet...</p>
</div>
