.data {
    list-style-type: none;
}

.row-element {
    display: inline-block;
    width: 32%;
}

.element-data {
    display: inline-block;
    width: 80%;
    overflow-x: hidden;
}

.element-title {
    display: inline-block;
    width: 20%;
    overflow-x: hidden;
}

.reload {
    float: right;
    cursor: pointer;
}

h4 {
    display: inline-block;
}
