<app-spinner *ngIf="!isLoaded && details.name != 'error'" [color]="'black'"></app-spinner>
<div class="row" *ngIf="details.name != 'error'">
    <div class="col-md-8 col-xs-12">
        <div class="user" *ngIf="isLoaded">
            <img [src]="details.avatar" class="image" alt="{{details.name}}">
            <div class="info">
                <h1>{{details.name}}</h1>
                <p>Total earned: {{details.points}}</p>
                <p>{{details.bio}}</p>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="details.name == 'error'">
    <div class="col-md-8 col-xs-12">
        <div class="user" *ngIf="isLoaded">
            <h4>User not found</h4>
        </div>
    </div>
</div>
<div *ngIf="auth.userInfo.role == 'admin'">
    <div class="container">
        <br><br><br><br>
        <div class="row">
            <div class="col-xs-12">
                <a class="btn btn-info" [routerLink]="['/', 'admin', 'user', route.snapshot.params.id]">Manage User</a>
            </div>
        </div>
    </div>
</div>

<app-spinner *ngIf="!isLoaded"></app-spinner>
