/* You can add global styles to this file, and also import other style files */

body {
  overflow: hidden;
}

.navbar {
  background-color: #2BA84A !important;
  -webkit-box-shadow: 0px -71px 36px 68px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -71px 36px 68px rgba(0,0,0,0.75);
  box-shadow: 0px -71px 36px 68px rgba(0,0,0,0.75);
  z-index: 10;
}

.navbar-nav > .nav-item > .nav-link {
  color: #FCFFFC !important;
  text-shadow: 1px 1px 2px black;
}

.navbar-nav > .nav-item > .nav-link:hover {
  background-color: #248232;
}
