<h4>Referrals</h4>

<div class="row">
  <div class="col-md-6">
    <p>For every user you refer, you earn <b>5%</b> of all their earnings.</p>
    <div>
      <p>Referred Users: {{auth.userInfo.referrals}}</p>
      <p>Referral Earnings: {{auth.userInfo.referralEarnings}} points</p>
    </div>

    <div class="form-group">
      Referral Link:
      <input class="form-control" type="text" [ngModel]="referralUrl" readonly #linkbox>
      <button class="btn btn-outline-info" (click)="copyText()">Copy</button>
    </div>
  </div>
</div>

