<ngb-tabset #tabset="ngbTabset">
  <ngb-tab title="FAQ" id="faq">
    <ng-template ngbTabContent>
      <br>
      <h4>I have not received my points?</h4>
      <p>Please with up to an hour to receive points. If you have completed an offer legitimately and not received any points, then please contact the ad network you completed the offer from.
      </p>

      <h4>What are points?</h4>
      <p>Points are the virtual currency you receive after completing offers. These points can be exchanged for Bitcoin. 1000 points = 1 USD
      </p>

      <h4>How can I withdraw my points?</h4>
      <p>Under the account page, you can withdraw your points. We currently only have one withdraw method which is Bitcoin. There is a fee of 200 points to cover miners fee. The miner's fee is often larger than that, but that is on us. You only pay 200 points.</p>

      <h4>I withdrew to the wrong Bitcoin address, what do I do now?</h4>
      <p>Bitcoin transactions are non-reversible, meaning this cannot be undone. We recommend checking the Bitcoin address before withdrawing.
      </p>

      <h4>How do we determine the conversion rates?</h4>
      <p>We use conversions provided by blockchain.info.</p>

      <h4>Why isn't my transaction confirmed yet?</h4>
      <p>We use fees recommended by blockchain.info based on the status of the network. A transaction would normally take <1 hour, but sometimes it may take several hours.</p>

      <h4>Why can't I talk in chat?</h4>
      <p>Make sure you are logged in to the website, if you are logged in but cannot chat you may have been muted for inappropriate behavior.</p>

    </ng-template>
  </ngb-tab>
  <ngb-tab title="Contact" id="contact">
    <ng-template ngbTabContent>
      <br>
      <p>
        Having trouble with something? Send us an email to
        <a href="mailto:support@earn.coffee">support@earn.coffee</a><br>
      </p>
    </ng-template>
  </ngb-tab>
</ngb-tabset>