<h1>Start Earning</h1>

<p>Start earning by completing surveys below. Choose an ad network to get started!</p>

<div class="networks" >
    <a [routerLink]="['/wall', 'adscendmedia']" class="btn btn-info link">
        <img src="/assets/adscendmedia.svg" width="200" height="41.24" >
    </a>
    <a [routerLink]="['/wall', 'adgatemedia']" class="btn btn-info link">
        <img src="/assets/adgate.png" width="200" height="41.24" style="filter: grayscale(100%) contrast(500%);">
    </a>
    <a [routerLink]="['/wall', 'adworkmedia']" class="btn btn-info link">
        <img src="/assets/AWM_logo_slim.png" width="200" height="41.24">
    </a>
    <a [routerLink]="['/wall', 'kiwiwall']" class="btn btn-info link">
        <img src="/assets/kiwiwall.png" height="41.24">
    </a>
    <a [routerLink]="['/wall', 'offerdaddy']" class="btn btn-info link">
        <img src="/assets/offerdaddy.png" height="41.24">
    </a>
</div>
