<h1>Account</h1>

<ngb-alert *ngFor="let alert of alerts; let i = index" [attr.data-index]="i"
           (close)="closeAlert(i)" type="{{alert.type}}">{{alert.message}}</ngb-alert>
<div class="row">
    <div class="col-md-6 col-xs-12">

        <h4 class="h4">Change User Details</h4>
        <p>To change your avatar, go to <a href="https://gravatar.com" target="_blank">gravatar</a>.</p>

        <form #f="ngForm" (ngSubmit)="save(f)">
            <div class="form-group">
                <label for="displayName">Display Name:</label>
                <input class="form-control" type="text" id="displayName" name="displayName" autocomplete="off"
                       [ngModel]="auth.userInfo.username" required minlength="4" maxlength="15">
            </div>
            <button type="submit" class="btn btn-outline-primary">Save</button>
        </form>
        <br>
        <hr><br>
        <app-withdraw [user]="user" (reload)="loadUser()"></app-withdraw>
    </div>
    <div class="col-md-6 col-xs-12">
        <app-transactions></app-transactions>
    </div>
</div>

