<h4>Reset Password</h4>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <ngb-alert *ngFor="let alert of alerts; let i = index" type="{{alert.type}}" (close)="closeAlert(i)">{{alert.message}}</ngb-alert>

            <form #f="ngForm" (submit)="submit(f)">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input class="form-control" type="password" id="password" name="password"
                           [ngClass]="{invalidinput: password.invalid && password.touched}" ngModel
                           #password="ngModel" required>
                    <small class="form-text invalid-text" *ngIf="password.invalid && password.touched">
                        Field required.
                    </small>
                </div>
                <button class="btn btn-info" type="submit">Reset Password</button>
            </form>

        </div>
    </div>
</div>
